body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.special-img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.profile-image {
    padding-top: 0px;
    padding-bottom: 0px;
}

.has-error{
    color:red;
}